<h1 class="sectionTittle"><img ng-src="./img/logo.png" style="vertical-align:middle" alt="actuar tolima" longdesc="#footerDiv"></img><span style="vertical-align:middle">NUESTRAS OFICINAS</span></h1>
<div id="nuestrasoficinasDiv">
	<div class="contactoInfoDiv">
		
		<table class="nuestrasoficinasTable" style="width:100%" ng-repeat="lista in $root.nuestrasoficinasLista.lista1" ng-if="!!$root.nuestrasoficinasLista">
			<tr><td colspan="2"><h3 class="nuestrasoficinasInfoP">{{lista.sede}}</h3></td></tr>
			<ul style="padding:0px;margin:0px"><tr class="nuestrasoficinasTableRow" ng-repeat="oficina in lista.oficina">
				<td style="vertical-align:top;"><li><a style="white-space: normal;" href="javascript:void(0)" ng-click="$root.markerName=oficina.id;$root.mapLat=oficina.coordenadas.lat;$root.mapLng=oficina.coordenadas.lng;">
					{{oficina.direccion}}<img ng-src="./img/logomaps.png" width="20px" style="vertical-align:middle" alt="actuar tolima" longdesc="#footerDiv"></img>
				</a></li></td>
				<td style="text-align:right"><p class="nuestrasoficinasInfoP" ng-bind-html="oficina.telefono"></p></td>
			</tr>
		</table>
		
	</div>
	<div class="contactoInfoDiv2">
		<table class="nuestrasoficinasTable" style="width:100%" ng-repeat="lista in $root.nuestrasoficinasLista.lista2" ng-if="!!$root.nuestrasoficinasLista">
			<tr><td colspan="2"><h3 class="nuestrasoficinasInfoP">{{lista.sede}}</h3></td></tr>
			<ul style="padding:0px;margin:0px"><tr class="nuestrasoficinasTableRow" ng-repeat="oficina in lista.oficina">
				<td style="vertical-align:top;"><li><a style="white-space: normal;" href="javascript:void(0)" ng-click="$root.markerName=oficina.id;$root.mapLat=oficina.coordenadas.lat;$root.mapLng=oficina.coordenadas.lng;">
					{{oficina.direccion}}<img ng-src="./img/logomaps.png" width="20px" style="vertical-align:middle" alt="actuar tolima" longdesc="#footerDiv"></img>
				</a></li></td>
				<td style="text-align:right"><p class="nuestrasoficinasInfoP" ng-bind-html="oficina.telefono"></p></td>
			</tr>
		</table>
	</div>
	
	
	<ng-map zoom="16" center="[{{$root.mapLat}},{{$root.mapLng}}]" scrollwheel="false" class="nuestrasoficinasMap" ng-if="!!$root.nuestrasoficinasLista">
		<marker position="[{{$root.mapLat}},{{$root.mapLng}}]" title="{{$root.markerName}}"></marker>
	</ng-map>
</div>

<div style="clear:both;"></div>