<div id="body">
	<h1>Respuesta automática</h1>
	<div class="separador"></div>
	<h2>Hola <%=nombre%>, tu hoja de vida ha sido recibida correctamente</h2>
	<p>Gracias por aplicar para el cargo de <%=cargotitulo%></p>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<a href="http://actuartolima.com"><img width='300px' src='http://actuartolima.com/img/logoactuartolimagrande.png'/></img></a>
	<p>Este es un mensaje automático. Favor no responder este mensaje.</p>
</div>